@charset "UTF-8";
@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%; } }

@media only screen and (max-height: 800px) {
  html {
    font-size: 80%; } }

html {
  overflow-y: hidden;
  height: 100vh; }

body {
  font-family: 'Microsoft JhengHei' !important;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

hr {
  margin: 0.8rem 0 0.8rem; }

.date-label input {
  width: 6.5rem !important; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.z999 {
  position: relative;
  z-index: 999; }

/*登入錯誤訊息*/
span.text-danger.field-validation-error, .login-error {
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  padding: .25rem;
  top: 2.25rem; }

.login-error {
  margin-top: 2.25rem; }

.bg {
  background: url(../img/login-bg.png);
  background-size: cover;
  position: relative; }

.bg-menu {
  position: relative;
  background: radial-gradient(circle at 23% -5%, #6a6868, #000000); }

.logo {
  background: url(../img/K-logo.svg) no-repeat;
  background-size: 100%;
  width: 130px;
  height: 130px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 5px; }

/*flex*/
.flex, .space-between, .flex-wrap {
  display: flex; }

.flex {
  align-items: center;
  justify-content: center; }

.space-between {
  justify-content: space-between; }

.flex-wrap {
  flex-wrap: wrap; }

.h100 {
  height: 100%; }

.login {
  overflow: hidden;
  background: radial-gradient(circle at 0% 15%, rgba(185, 183, 183, 0.5), rgba(0, 0, 0, 0.68)), linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72));
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: relative; }

.login-ui {
  position: relative;
  z-index: 99; }

.input-custom {
  background-color: rgba(0, 0, 0, 0.54) !important;
  border-radius: 100px !important;
  border: 1px solid rgba(0, 0, 0, 0.07) !important;
  margin-top: 2rem !important;
  color: #fff !important; }

.btn-login {
  background: rgba(247, 235, 104, 0.78);
  border-radius: 100px !important;
  height: 2.25rem;
  margin: 2rem 0 0 0;
  padding: 0 0.3rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #000;
  cursor: pointer; }
  .btn-login:hover {
    background: #288bc6;
    color: #fff; }

.line {
  background: url(../img/line.svg) no-repeat;
  height: 2rem;
  width: 100%;
  background-size: 100%; }

.top-tr {
  background: url(../img/top-tr.svg) no-repeat;
  margin: 0 auto;
  height: 3rem;
  width: 6rem;
  background-size: 100%; }

.center-tr {
  background: url(../img/center-tr.svg) no-repeat;
  height: 32rem;
  width: 45rem;
  background-size: 100%;
  position: absolute;
  left: 0;
  bottom: 0; }

.left-tr {
  background: url(../img/left-tr.svg) no-repeat;
  height: 15rem;
  width: 6rem;
  top: 0;
  left: 0;
  position: absolute;
  background-size: 100%; }

.top-tr.out {
  margin: 0;
  position: absolute;
  height: 6rem;
  width: 10rem;
  left: 10%; }

.left-tr-out {
  background: url(../img/left-tr-out.svg) no-repeat;
  height: 25rem;
  width: 12rem;
  position: absolute;
  left: 0;
  top: 40%;
  background-size: 100%; }

.bottom-tr-out {
  background: url(../img/bottom-tr-out.svg) no-repeat;
  height: 25rem;
  width: 25rem;
  bottom: 0;
  background-size: cover;
  position: absolute;
  right: 0; }

.top-tr.out, .left-tr-out, .bottom-tr-out {
  z-index: 1; }

/*menu*/
.menu .menu-btn {
  box-sizing: border-box;
  border-radius: 20px;
  background-image: radial-gradient(circle at -63% 103%, #757575, rgba(0, 0, 0, 0.86));
  border: solid 2px #ffcc74;
  width: calc((100%/3) - 1rem);
  height: calc((100%/3) - 1rem);
  margin: 0.5rem;
  text-align: center;
  cursor: pointer; }

.menu-btn:active,
.menu-btn:hover {
  background-image: radial-gradient(circle at -63% 103%, #78a6f1, rgba(33, 74, 95, 0.82)); }

.menu span {
  color: #fff; }

.menu-g {
  padding: 1rem 0;
  z-index: 20;
  height: calc(100% - (3rem + 4px));
  overflow: auto;
  position: relative; }

.account {
  background: url(../img/account.svg) no-repeat; }

.add {
  background: url(../img/add_alert.svg) no-repeat; }

.assignment {
  background: url(../img/assignment.svg) no-repeat; }

.pay {
  background: url(../img/payment.svg) no-repeat; }

.point {
  background: url(../img/point.svg) no-repeat; }

.group {
  background: url(../img/group.svg) no-repeat; }

.restaurant {
  background: url(../img/restaurant.svg) no-repeat; }

.business {
  background: url(../img/business.svg) no-repeat; }

.set {
  background: url(../img/settings.svg) no-repeat; }

.account,
.add,
.assignment,
.pay,
.point,
.group,
.restaurant,
.business,
.set {
  background-size: 100%;
  width: 7rem;
  height: 8rem; }

/*icon*/
[class^="icon-ui-"]:before, [class*=" icon-ui-"]:before {
  padding: 0rem; }

header {
  position: relative;
  padding: 0 2rem;
  line-height: 3rem;
  height: calc(3rem + 4px);
  color: #fff;
  z-index: 999;
  background: radial-gradient(circle at -63% 103%, #757575, rgba(0, 0, 0, 0.86));
  border-bottom: 4px solid #d9b033;
  box-shadow: 5px 5px 30px rgba(7, 7, 7, 0.77);
  overflow: hidden; }
  header .logo {
    background: url(../img/K-logo-02.svg) no-repeat;
    position: relative;
    z-index: 999;
    background-size: 100%;
    width: 3rem;
    height: 3rem;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background-color: transparent; }
  header a.btn {
    margin: 0.4rem 0;
    border-radius: 5px; }
  header .top-tr.out {
    left: 5%;
    top: 0;
    width: 12rem; }

.pagination {
  margin: 0; }

.table-custom {
  background: radial-gradient(circle at -63% 103%, #757575, rgba(0, 0, 0, 0.22));
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(7, 7, 7, 0.77);
  overflow-y: auto;
  height: 100%;
  /*table 樣式*/
  /*點餐*/
  /*積分發行紀錄*/ }
  .table-custom table {
    background: #4e4e4e;
    width: 100%; }
    .table-custom table thead {
      background: radial-gradient(circle at -63% 103%, #ffe698, rgba(77, 60, 24, 0.86)); }
    .table-custom table tr th, .table-custom table tr td {
      padding: 0.25rem;
      color: #fff; }
    .table-custom table tr th {
      background: transparent !important; }
    .table-custom table .btn {
      padding: 0 1rem; }
  .table-custom table tr.even, .table-custom table tr.alt, .table-custom table tr:nth-of-type(even) {
    background: #8b8b8b; }
  .table-custom.order input {
    display: inline-block;
    width: 6rem; }
  .table-custom.order .select2-container {
    display: block;
    margin-bottom: 0.25rem;
    width: 164px !important; }
  .table-custom.order .btn, .table-custom.order input {
    vertical-align: top;
    margin: 0; }
  .table-custom.order .total {
    padding: 0.375rem 1rem 0.375rem 0; }
  .table-custom.order .total-btn .btn {
    margin-top: 0; }
  .table-custom.order .table-fixed {
    height: calc(100% - (2rem + 70px)); }
    .table-custom.order .table-fixed tbody {
      height: calc(100% - 24.38px); }
  .table-custom .top-div {
    height: calc(20% - (40px+1rem)); }
  .table-custom .dataTables_scrollBody {
    height: 89% !important; }
  .table-custom .bottom-div {
    height: calc(80% - 26px); }
    .table-custom .bottom-div .dataTables_wrapper {
      height: calc(100% - 3.25rem);
      width: 100%; }
      .table-custom .bottom-div .dataTables_wrapper .dataTables_scroll {
        height: calc(100% - 36px); }
  .table-custom .bottom-div-default {
    height: calc(80% - 26px); }
    .table-custom .bottom-div-default .dataTables_wrapper {
      height: 100%;
      width: 100%; }
      .table-custom .bottom-div-default .dataTables_wrapper .dataTables_scroll {
        height: calc(100% - 36px); }
  .table-custom .table-title {
    color: #fff;
    background: radial-gradient(circle at -63% 103%, #ffe698, rgba(77, 60, 24, 0.86));
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem 1em;
    border-radius: 10px 10px 0 0; }
  .table-custom .point-nav {
    overflow: hidden; }
  .table-custom .point-table table {
    width: calc(100% - 7rem);
    float: left; }
    .table-custom .point-table table tr th, .table-custom .point-table table tr td {
      padding: 0.5625rem 0.625rem; }
    .table-custom .point-table table #issueSummary-Distribution:after, .table-custom .point-table table #issueSummary-Balance:after {
      content: 'P';
      margin-left: 0.5rem; }
  .table-custom .point-table .btn {
    width: 6rem;
    display: inline-block;
    margin: 0.2rem 0 0 1rem; }
  .table-custom label {
    color: #dadada; }
    .table-custom label select {
      display: inline-block;
      margin: 0 0.5rem; }
  .table-custom input, .table-custom select, .table-custom table.dataTable {
    border-radius: 5px; }
  .table-custom .select2-container--default .select2-selection--single {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    height: 2.25rem;
    padding: 0.5rem; }
    .table-custom .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 1.25rem;
      padding: 0; }

.modal-custom {
  padding: 1rem;
  height: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  background: radial-gradient(circle at -63% 103%, #fff, rgba(74, 73, 73, 0.86));
  border: 1px solid #ffffff;
  /*錯誤訊息*/ }
  .modal-custom .point-table thead {
    background: #0079c1; }
    .modal-custom .point-table thead th {
      color: #fff; }
  .modal-custom .point-table tbody {
    background: #fff; }
  .modal-custom div#modal-btn-Close {
    color: #ccc;
    cursor: pointer; }
    .modal-custom div#modal-btn-Close:hover {
      color: #42b8ff; }
  .modal-custom .modal-title {
    font-size: 1rem;
    color: #fff; }
  .modal-custom .modal-scroll {
    overflow-y: auto;
    background: #ffffffc9;
    padding: 1rem;
    height: calc(100% - 3rem);
    /*select2 樣式*/ }
    .modal-custom .modal-scroll label, .modal-custom .modal-scroll select {
      margin: 0 0 1rem 0; }
    .modal-custom .modal-scroll .select2-container {
      margin-bottom: 1rem;
      width: 100% !important; }
    .modal-custom .modal-scroll .select2-container--default .select2-selection--single {
      border-radius: 0;
      font-size: 0.9375rem;
      line-height: 1.25rem;
      height: 2.25rem;
      padding: 0.5rem; }
      .modal-custom .modal-scroll .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 1.25rem;
        padding: 0; }
  .modal-custom table {
    width: 100%;
    background: transparent;
    border: none; }
    .modal-custom table.half th, .modal-custom table.half td {
      width: 50%; }
    .modal-custom table thead tr th, .modal-custom table thead tr td, .modal-custom table tbody tr th, .modal-custom table tbody tr td {
      font-size: 1rem; }
    .modal-custom table tr.even, .modal-custom table tr.alt, .modal-custom table tr:nth-of-type(even) {
      background: #cacaca; }
  .modal-custom .dataTables_wrapper select {
    display: inline-block;
    margin: 0 0.5rem; }
  .modal-custom form div {
    position: relative; }
  .modal-custom span.text-danger.field-validation-error, .modal-custom .login-error {
    color: #0079c1;
    top: 0;
    left: 6rem;
    padding: 0; }

.errorWrap {
  text-align: center;
  margin: 18% auto; }
  .errorWrap.view {
    color: #fff;
    margin: auto; }

/*積分管理*/
.date {
  display: inline-block; }
  .date label, .date input {
    width: auto;
    display: inline-block; }

.act-btn {
  margin-bottom: 1rem; }
  .act-btn div {
    margin-right: 0.5rem; }

/*出餐明細*/
#table-OrderDetail tbody tr td:first-child {
  background: #0079c1; }

#table-OrderDetail tbody tr td:nth-child(2) {
  background: #697277; }

.icon-ui-close {
  text-align: center;
  cursor: pointer; }
  .icon-ui-close:hover {
    color: #000000; }

.custom-option input {
  margin: 0; }

.custom-option .option label, .custom-option .option select {
  display: inline-block; }

.custom-option .option select {
  width: 8rem;
  margin: 0; }

/*營業分析 點餐明細*/
table.menu-table thead {
  background: transparent; }
  table.menu-table thead th:first-child {
    background: #F5F5F5; }
  table.menu-table thead td {
    background: rgba(245, 245, 245, 0.4); }

#F5F5F5 input[type="text"][readonly], input[type="datetime"][readonly] {
  background-color: #fff !important; }

.ui-widget-header {
  background: radial-gradient(circle at -63% 103%, #fff, rgba(74, 73, 73, 0.86)); }

.ui-datepicker-year, .ui-datepicker-month {
  display: inline-block !important;
  width: 35% !important; }

.ui-datepicker .ui-datepicker-title select {
  margin: 1px 0.5rem; }

.row {
  max-width: 100%; }
  .row .columns {
    padding: 0; }

.date-label label, .date-label input {
  display: inline-block; }

.date-label input {
  width: auto; }

/*table-fixed*/
.table-fixed {
  margin: 1rem 0;
  width: 100%; }
  .table-fixed tbody {
    overflow-y: auto;
    width: 100%; }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block; }
  .table-fixed thead, .table-fixed tr {
    overflow: hidden; }
  .table-fixed th, .table-fixed td {
    float: left; }
    .table-fixed th:first-child, .table-fixed td:first-child {
      width: 40%;
      margin-left: 0; }
    .table-fixed th:nth-child(2), .table-fixed td:nth-child(2) {
      width: 20%; }
    .table-fixed th:nth-child(3), .table-fixed td:nth-child(3) {
      width: 20%; }
    .table-fixed th:nth-child(4), .table-fixed td:nth-child(4) {
      width: 10%; }
    .table-fixed th:nth-child(5), .table-fixed td:nth-child(5) {
      width: 10%; }
  .table-fixed td {
    line-height: 1.6rem; }
  .table-fixed input {
    height: 1.6rem; }

/*input取消黃底*/
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
  -webkit-text-fill-color: #fff !important;
  /*字體顏色*/ }

/*卷軸樣式設計*/
::-webkit-scrollbar {
  height: 10px;
  width: 5px; }

::-webkit-scrollbar-track {
  background-color: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #C4C4C4; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-corner {
  display: none; }

